@import 'reset';
@import 'vari';

body {
	background: hotpink;

	section {
		width: 600px;
		padding: 5px;
		background: #fff;
		margin: 100px auto;
		text-align: center;

		h1 {
			font: bold 50px/1 'arial';
			color: var(--color1);
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 30px;
		}
		a {
			display: inline-block;
			border: 1px solid red;
			padding: 8px 30px;
			background: var(--color1);
			font: bold 16px/1 'arial';
			color: #fff;
		}
	}
}
//데스크탑 레이아웃을 모바일 버전으로 반응형 처리할때 주의점
//모바일 디바이스는 폭이 워낙 다양하기 때문에 폭을 무조건 퍼센트처리
@media screen and (max-width: 990px) {
	body {
		background: var(--color2);

		section {
			width: 80%;
			h1 {
				color: var(--color2);
			}
			p {
				margin-bottom: 30px;
			}
			a {
				background: var(--color2);
			}
		}
	}
}

@media screen and (max-width: 599px) {
	body {
		background: var(--color3);

		section {
			h1 {
				color: var(--color3);
			}
			p {
				margin-bottom: 30px;
			}
			a {
				background: var(--color3);
			}
		}
	}
}
